{% extends 'base.html' %}
{% load static %}

{% block title %} International BBA {% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'pages/service/service.css'%}">
  <link rel="stylesheet" href="{% static 'pages/service/responsive_service.css'%}">
{% endblock %}

{% block content %}

<section class="bg-sized-container inter-bg" >
  <center>
    <br><br>
    <img class="small-image" src="{% static 'pages/service/meeting-room.svg' %}" >
    <h1 class="strong white" > Les séminaires en inter-entreprises </h1>
    <br><br>
  </center>
  <br><br>
    <article class="container-5">
      <center>
        <div class="titled-paragraph">
          <h3 class="medium2 light  colored upper"> Description </h3>
          <p>Nos actions inter entreprises regroupent du personnel d'entreprises de secteurs d'activités variés, ce qui favorise et enrichit les échanges d'expériences. <br><br>
            Nous vous proposons une large gamme de programme de formation inter est proposée aux entreprises au moyen de notre catalogue de formation.<br><br>
            Les contenus des programmes de formation sont adaptés aux métiers par le biais d’exercices, études de cas, et mises en situation personnalisées.  Managers et collaborateurs reçoivent des outils communs de sorte à pérenniser les apports de compétences après la fin des stages et ainsi faciliter l’entraînement.<br><br>
            Afin d'aboutir avec précison aux exigences de l'entreprise, tous nos programmes de formation sont modulables, personnalisables ou crées sur mesure.<br><br>

          </p>
        </div>

        <h3 class="medium2 light  colored upper">Nous organisons des modules très variés</h3><br><br>
        <div class="grid-3">
          {% for i in modules %}
          <a href="/module/{{i.slug}}" class="card-5" >
            <center>
               <div  class="logo">
                <img src="{{i.formated_logo}}" />
              </div>
            </center>
            <div class="details">
              <h3>{{i.title}}</h3>
              <p>{{i.description}}</p>
            </div>
          </a>
          {% endfor %}

        </div>
      </center>
    </article>
</section>

{% endblock %}
