@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 800px){

  .medium{
    font-size: 30px;
  }
  .medium2{
    font-size: 25px;
  }
}
@media only screen and (max-width: 600px){

  .scrolled-container{
      overflow-x: visible;
  }
  .btn-icon.left{
    display: none;
  }
  .btn-icon.right{
    display: none;
  }
  .grid-2{
    display: block;
  }


}

@media only screen and (max-width: 550px){

  .form-1 input[type=text]{
    width: 300px;
  }
  .btn{
    padding: 10px 10px;
  }
  .form-1 button{
    width: 65px;
    font-size: 12px;
  }
  .medium2{
    font-size: 20px;
  }
  .titled-paragraph{
    width: calc(100% - 20px) ;
    padding: 15px 10px;
  }
  .strong{
    font-size: 35px;
  }
}
@media only screen and (max-width: 320px){
  .form-1 input[type=text]{
    width: 200px;
  }
  .medium2{
    font-size: 18px;
  }
}
