{% extends 'base.html' %}
{% load static %}

{% block title %} {{article.title}} {% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'pages/news/news.css'%}">
  <link rel="stylesheet" href="{% static 'pages/news/responsive_news.css'%}">
{% endblock %}


{% block content %}
<section class="sized-container" >
  <center>

    <img class="small-image" src="{% static 'pages/news/newspaper.svg' %}" >
    <h1 class="strong white" >{{article.title}}</h1>
  </center>
  <article class="container-5">
    <div class="article-description">
       {{article.description|safe}}
    </div>
  </article>

{% endblock %}
