{% extends 'base.html' %}
{% load static %}

{% block title %} Nos modules {% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'pages/modules/modules.css'%}">
  <link rel="stylesheet" href="{% static 'pages/modules/responsive_modules.css'%}">
{% endblock %}


{% block content %}
      <section class="sized-container" >
        <center>
          <img class="small-image" src="{% static 'pages/modules/modules.svg' %}" />
          <h1 class="strong white upper" > Nos modules </h1>
        </center>
      </section>
      <section>
        <article class="container-5">
            <center>
            <br/><br/>
            {% if modules_f or modules_t %}
              {% if  modules_f  %}
              <h2 class="medium center-text light-text colored" > Modules fonctionnels ( {{count_f}} )</h2>

                  <div class="grid-3">
                  {% for l in modules_f %}
                    <a href="/module/{{l.slug}}" class="card-5" >
                      <div class="logo">
                        <img src="{{l.formated_logo}}" />
                      </div>
                      <div class="details">
                        <h3>{{l.title}}</h3>
                        <p>{{l.description}}</p>
                      </div>
                    </a>
                  {% endfor %}
                  </div>
                {% endif %}

                <br/><br/>
                {% if  modules_t  %}
                <h2 class="medium center-text light-text colored" > Modules techniques ( {{count_t}} )</h2>

                    <div class="grid-3">
                    {% for l in modules_t %}
                      <a href="/module/{{l.slug}}" class="card-5" >
                        <div class="logo">
                          <img src="{{l.formated_logo}}" />
                        </div>
                        <div class="details">
                          <h3>{{l.title}}</h3>
                          <p>{{l.description}}</p>
                        </div>
                      </a>
                    {% endfor %}
                    </div>
                  {% endif %}
                {% else %}
                  <h1 class="strong" > Aucun module </h1>
                {% endif %}
                </center>
        </article>
      </section>
{% endblock %}
