{% extends 'base.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'pages/trainings/trainings.css'%}">
  <link rel="stylesheet" href="{% static 'pages/trainings/responsive_trainings.css'%}">
{% endblock %}


{% block content %}
      <section class="sized-container" >
        <br/>
          <center>
            <img class="small-image" src="{{logo}}" />
            <h1 class="medium white upper" >{{ title }} ( {{ count }} )  </h1>
            <h2 class="medium2 white">{{ parent_module }}</h2>


        </center>
        <br/>
      </section>
      <br/><br/>
      <section>
        <br/>
        {% if description %}
          <center>
          <div class="titled-paragraph">
            <h3 class="medium light  colored upper"> Description</h3>
            <p>{{description}}</p>
          </center>
        {% endif %}
        <br/><br/>

          {% if  trainings_not_realized  %}
          <center>
              <h3 class="medium light  colored upper"> Formations</h3>


          <div class="grid-4">
            {% for i in trainings_not_realized %}
              <a href="/training/{{i.slug}}" class="article-1" >
                <div class="image-side">
                  <img src="{{i.formated_image}}" />
                </div>
                <div class="details">

                  {% with formated_date=i.formated_date.date %}
                    <h3 class="date icon-" >Du {{formated_date.start_date|date:"d / m"}} à {{formated_date.end_date|date:"d / m"}}</h3>
                  {% endwith %}
                  <b>{{i.title}}</b>
                </div>
              </a>
            {% endfor %}

          </div>
        </center>
          {% else %}
        <center>  <h1 class="strong" >Aucun formation</h1></center>
          {% endif %}

      </section>
{% endblock %}
