{% extends 'base.html' %}
{% load static %}

{% block title %} Actualité {% endblock %}

{% block styles %}

  <link rel="stylesheet" href="{% static 'pages/news/news.css'%}">
  <link rel="stylesheet" href="{% static 'pages/news/responsive_news.css'%}">
{% endblock %}


{% block content %}
<section class="sized-container" >
  <center>

    <img class="small-image" src="{% static 'pages/news/newspaper.svg' %}" >

    <h1 class="strong white upper" >Actualités</h1>
  </center>
</section>
<section>
  <article class="container-5">
    {% if objects %}
    <div class="grid-3">
      {% for i in objects %}

         <a href="/news/{{i.slug}}" class="card-3">
           <div class="img-part">
             <img src="{{i.formated_image}}" />
           </div>
           <div class="details">
             <h3 class="" >{{i.title}}</h3>
             <small><b>Publié :</b> {{i.creation_date|date:"M d, Y"}}</small>
           </div>
         </a>

      {% endfor %}
      </div>
      <br/>
      {% if num_pages > 1 %}
      {% if num_pages < 6  %}
        <div class="paginator">
        {% if has_previous.bool is True %}
            <a href="/trainings?page={{has_previous.page}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}" >
               <span   class='icon- prev ' >Prev</span>
            </a>
        {% endif %}
        {% for i in pages_list %}
          <a href="/trainings?page={{i}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}"><span class="{% if i == page %} active {% endif %}" >{{i}}</span></a>

        {% endfor %}
        {% if has_next.bool is True %}

          <a href="/trainings?page={{has_next.page}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}" >
            <span href="/trainings?page={{has_next.page}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}" class='icon- next ' >Next</span>
          </a>
        {% endif %}
        </div>
      {% else %}


          <div class="paginator">
          {% if has_previous.bool is True %}
              <a href="/trainings?page={{has_previous.page}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}" >
                 <span   class='icon- prev ' >Prev</span>
              </a>
          {% endif %}
          {% if page == 1 %}
            <a href="/trainings?page={{1}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}"><span class="active" >1</span></a>
            <span class="" >...</span>
            <a href="/trainings?page={{num_pages}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}"><span class="" >{{num_pages}}</span></a>
          {% elif page == num_pages %}
            <a href="/trainings?page={{1}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}"><span class="" >1</span></a>
            <span class="" >...</span>
            <a href="/trainings?page={{page}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}"><span class="active" >{{num_pages}}</span></a>
          {% else %}
            <a href="/trainings?page={{1}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}"><span class="" >1</span></a>
            <span class="" >...</span>
            <a href="/trainings?page={{page}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}"><span class="active"  >{{page}}</span></a>
            <span class="" >...</span>
            <a href="/trainings?page={{num_pages}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}"><span class="" >{{num_pages}}</span></a>
          {% endif %}
          {% if has_next.bool is True %}

            <a href="/trainings?page={{has_next.page}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}" >
              <span href="/trainings?page={{has_next.page}}&search_word={{search_word}}&date_from={{date_from}}&date_to={{date_to}}" class='icon- next ' >Next</span>
            </a>
          {% endif %}
        </div>
        {% endif %}
      {% endif %}
    {% else %}
    <center>  <h1 class="strong" >Aucun Actualité</h1></center>
    {% endif %}
  </article>
</section>
{% endblock %}
