@media only screen and (max-width: 1200px){
  .grid-3{
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 1000px){



  .container-1{

    display: block;
    height: auto;
  }
  .container-1 .details{
    z-index: 2;
  }
  .container-1 .image{
    display: block;
    position: absolute;
    top: 0;
    opacity: .2;
    z-index: 0;
  }
  .btn{
    font-size: 16px;
  }

  .medium{
    font-size: 30px;
  }
  .video{
    height: 400px;
    width: 850px;
  }

}

@media only screen and (max-width: 800px){
  .grid-3{
    grid-template-columns: auto ;
  }
  .video{
    height: 400px;
    width: calc(100% - 20px);
  }
  .container-5{
    width:calc(100% - 10px);
    padding: 5px;
  }

}
@media only screen and (max-width: 550px){


  .card-5{
    width: calc(100% - 10px);
    padding: 5px;
  }
}

@media only screen and (max-width: 500px){

  .btn{
    font-size: 16px;
    padding: 12px;
  }


  .medium{
    font-size: 25px;
  }
  .medium2{
    font-size: 20px;
  }
  .video{
    height: 300px;
  }




}
@media only screen and (max-width: 360px){

  .btn{
    font-size: 14px;
    padding: 12px;
  }

  .medium{
    font-size: 22px;
  }
  .medium2{
    font-size: 20px;
  }
  .video{
    height: 200px;
  }






}
@media only screen and (max-width: 320px){

  .btn{
    font-size: 14px;
    padding:10px 8px;
  }

  .medium{
    font-size: 22px;
  }
  .medium2{
    font-size: 20px;
  }

  .video{
    height: 200px;
  }




}
